.list-container {
    margin-top: 5em;
    height: 100%;
    min-height: 80vh;
}

.list-col {
    text-align: center;
    padding: 0em;
}

.list-col:hover {
}

.list-col:nth-last-of-type(1), 
.list-col:nth-last-of-type(2) {
    border-left: 1px solid rgba(192,210,255, .6);
}


.list-title {
    color: #C0D2FF;
    font-weight: 700;
    border-bottom: 1px solid rgba(192,210,255, .6);
    padding: 1em 0em;
}

.task-list {
    margin-left: 1em;
}

.task-title {
    font-weight: 700;
}

.task-description {
    font-size: 1.1em;
    font-weight: 500;
}

.task {
    margin: 1em;
    padding: 1em;
    width: 15em;
    display: inline-block;
    background-color: #6194c4;
    text-align: left;
    box-shadow: 0 1em 1em .1em #1d2833;
    cursor: pointer;
    transition: 0.3s ease-in-out background-color;
    word-wrap: break-word;
}

.task:hover {
    background-color: #79a5ce;
}