.navbar {
    height: min-content;
    width: 100%;
    background-color: #374C60;
    padding: 0;
}

.navbar-toggler {
    margin: 1em;
}

.nav-list {
    list-style: none;
}

.navbar-link {
    font-size: 2em;
    padding: 1em;
    border-bottom: 1px solid rgba(192,210,255, .6);
    color: #C0D2FF;
    transition: 0.3s ease-in-out background-color;
}
.navbar-link:first-of-type {
    border-top: 1px solid rgba(192,210,255, .6);
}

.navbar-link:hover {
    color: #C0D2FF;
    text-decoration: none;
    background-color: #4e667c;
}

/* -- Sidebar only -- */

.sidebar {
    width: 20em;
    height: 100%;
    padding: 0;
}

.sidebar-list {
    position: absolute;
    top: 0;
    flex-direction: column;
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
}


.sidebar-list #sidebar-title {
    font-size: 3em;
    font-weight: 700;
    color: #C0D2FF;
    text-align: center;
    margin: 3em 0 1em 0;
}